---
layout: default
title: "Home"

---
<div class="right-part">
	<div class="tabs">

		<!-- Tab 1 -->
		<a href="#" class="tabs_link green_bg w-inline-block">
			<p class="tabs_heading">FOREWORD</p>
		</a>
		<div class="tabs_content green_bg">
			<div class="tab_wrap">
				<div class="tab_contain">
					<div class="foreword-block">
						<h2>FOREWORD</h2>
						<h4>Team </h4>
						<p>

							We welcomed three new colleagues last year: Jason van der Leeuw (system administrator),
							Nadia Benaissa (policy officer) and Bér Engels (communication strategist). Nadia has a
							background as a GDPR
							lawyer and previously worked for a large municipality as a data protection officer. In
							addition to being a true activist at heart, she brings with her interesting experience from
							the public sector.
							Nadia will be working with us on a new dossier on data, algorithms and justice (formerly
							‘Profiling’). Bér has a background in the music and events industry and previously worked at
							Cineville. Last
							but not least, Jason is a self-taught system administrator. His background is in philosophy.
							Unfortunately, we decided to part ways at the end of the year.
						</p>
						<p>
							Esther Crabbendam was our campaigner and has become our new movement builder. From 2021
							onwards, she will focus on mobilising people in the battle for digital rights. The role of
							campaigner will be
							exchanged for that of a fundraiser. This person will be recruited in the year ahead and will
							be responsible for attracting individual and corporate donors. Finally, the end of 2020
							marked the
							departure of our graphic designer Karim Khamis. Karim joined Bits of Freedom in 2017 and had
							a big positive impact on our (visual) communications and on our team. Adjacent to his work
							for Bits of
							Freedom, Karim stayed on as art director for Cablai, the design agency he founded with
							George Adegite. From 2021 onwards Cablai is going to receive Karim's full attention. He will
							sorely be missed,
							but we are excitedly awaiting the great projects Cablai will no doubt be churning out.
						</p>
						<h4>Board </h4>
						<p>
							We said goodbye to our treasurer Clemens la Lau and to Hermine Masmeyer, general board
							member with a focus on HR. We found two great successors in Wiens van Asselt (treasurer) and
							Janine Huizenga
							(general board member). Wiens has a long career behind him as a civil servant for the City
							of Amsterdam, and Janine is Department Head of Interactive Design at the Hague Royal Academy
							of Art. One of
							the year’s focus points for the board was finding a successor for our chair, Lonneke van der
							Velden. After having Lonneke aboard for nine years, the board will not only lose a
							passionate activist,
							academic and field expert, but also a board member with a great institutional memory. We are
							therefore very pleased that, after an extensive search, we were able to welcome Sophie
							Logothetis as chair
							and that Lonneke was able to help her make a smooth transition into her new role. Sophie
							works as a programme manager for the EU grant programme Europe for Citizens, which supports
							projects for civic
							participation and democratic engagement. She is also the liaison for a European cultural
							network called EUNIC. We look forward to the expertise and new perspectives Sophie will
							bring to the
							organisation! <br />
							Finally, the board and the director drew up a new multi-annual strategy for 2021-2025 and
							were in frequent contact concerning the impact of Covid-19 on the organisation and the team.
						</p>
						<h4>Volunteers </h4>
						<p>
							Covid-19, in combination with the lack of a movement builder, made this a rather uneventful
							year for our volunteers. The most important volunteer project we were engaged in in 2020 was
							the relaunch of
							the Internet Freedom Toolbox. In addition, our translation volunteers were as busy as ever,
							and we now have an impressive new group of creatives who will help us with our
							communications. We are very
							grateful to everyone who helped us last year!
						</p>
						<h4> Advisory Board </h4>
						<p>
							The advisory board is composed of prominent figures with expertise in the fields of law,
							politics, media/communication, art, technology, and business. In 2020, the advisory board
							consisted of the
							following members: Jaap-Henk Hoepman (chairman), Amade M’charek, Anneke Jansen, Antoinette
							Hertsenberg, Eleni Kosta, Linda Duits, Lineke Sneller, Maxim Februari, Mohamed el Maslouhi,
							Olaf Kolkman, Ot
							van Daalen and Sarah Hagens. The members of the advisory board do not receive any form of
							compensation, for expenses or otherwise. <br />
							More information on the staff, board members and advisory board members is available at: <a
								href="#">https://www.bitsoffreedom.nl/english/.</a>
						</p>
						<h4>Our international network</h4>
						<p>

							We are one of the founders and active members of European Digital Rights (EDRi), a network
							of over 40 organisations fighting for internet freedom. We contributed to EDRi’s new
							multi-year strategy and
							attended the General Assembly, which was held online this year. We also provided input to
							the Digital Freedom Fund and EDRi in the context of decolonising the digital rights field.
							Finally, we helped
							13 organisations localise My Data Done Right (translations and building a database of local
							organisations) and consolidated the way these organisations work together.
						</p>
						<h4>Our role as an employer</h4>
						<p>
							The health of our employees is deserving of even greater attention during a pandemic. A few
							times a week, we took stock of how everyone was doing, and took steps to help the team cope
							with the
							unusually stressful situation and changing working conditions. We also found ways to see
							each other safely face-to-face on a regular basis, even managing to get the whole team
							together in a
							Covid-19-proof situation twice.
						</p>
						<p>
							As an employer, we have identified five areas of focus: offering livelihood security,
							offering equal opportunities, investing in professional development, setting up staff
							members so they can be in
							control of their work, and supporting staff in maintaining a proper work-life balance. Four
							policy documents will be completed in the coming year in regard of these five points: for
							the engagement of
							a confidential adviser and the establishment of a complaints committee, an update of our
							partner leave policy, a sabbatical policy and a pension policy. We will also regularly
							evaluate the workload of
							our staff and our working habits, and we will have an external assessment conducted of our
							remuneration policy and salary structure.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tab 1 -->

		<!-- Tab 2 -->
		<a href="#" class="tabs_link yellow_bg w-inline-block active">
			<p class="tabs_heading">HIGHLIGHTS</p>
		</a>
		<div class="tabs_content yellow_bg active">
			<div class="tab_wrap">
				<div class="tab_contain sec_tab_contain">
					<div class="highlights-block">
						<div class="highlights-title">
							<h2>HIGHLIGHTS</h2>
						</div>
						<div class="highlights-info">
							<h3>Intro highlights</h3>
							<p>
								It will be a challenging year, but we see many opportunities. These include
								opportunities to influence policy, to raise awareness and, by doing so, have a positive
								impact on the rights and
								freedoms of everyone in Europe, starting here in the Netherlands. Here is a preview of
								our plans for 2021.
							</p>
						</div>

						<div class="accordion" id="accordionExample1">
							{% for item in site.highlights reversed %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingfaq1">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
										aria-controls="{{- item.title | remove:' '  -}}">
										{{ item.title }}
									</button>
								</h2>
								<div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
									aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
									<div class="accordion-body">
										<img src="{{ item.featured_image }}" alt="{{ item.title }}" />
										<div class="body-info">
											<p>
												{{ item.description }}
											</p>
											<a href="{{ item.url }}" class="btn-dark">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tab 2 -->

		<!-- Tab 3 -->
		<a href="#" class="tabs_link light_bg w-inline-block">
			<p class="tabs_heading">FINANCES</p>
		</a>
		<div class="tabs_content light_bg">
			<div class="tab_wrap">
				<div class="tab_contain">
					<div class="finances-block">
						<div class="highlights-title">
							<h2>FINANCES</h2>
						</div>
						<div class="highlights-info">
							<h3>Our income in 2022</h3>
							<p>
								Bits of Freedom’s income in 2022 amounted to € 862,246. 37% of this came from individual
								donors, 43% from large funds, and 11% from business supporters. The remaining 9% came
								from project
								financing and the sale of merchandise.
							</p>
							<p>Table: Income 2022 (x € 1.000)</p>
						</div>

						<div class="finances-table">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th></th>
										<th>Actual 2020</th>
										<th>Budget 2020</th>
										<th>Actual 2019</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Individual donors</td>
										<td>315</td>
										<td>315</td>
										<td>315</td>
									</tr>
									<tr>
										<td>Foundations</td>
										<td>300</td>
										<td>300</td>
										<td>300</td>
									</tr>
									<tr>
										<td>Corporate supporters</td>
										<td>200</td>
										<td>200</td>
										<td>200</td>
									</tr>
									<tr>
										<td>Other</td>
										<td>6</td>
										<td>6</td>
										<td>6</td>
									</tr>
									<tr>
										<td>Subtotal</td>
										<td>999</td>
										<td>999</td>
										<td>999</td>
									</tr>
									<tr>
										<td>Total</td>
										<td>999</td>
										<td>999</td>
										<td>999</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="chart-block">
							<h3>Pie chart</h3>

							<img src="/assets/images/chart.svg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tab 3 -->

		<!-- Tab 4 -->
		<a href="#" class="tabs_link gray_bg w-inline-block">
			<p class="tabs_heading">PLANS</p>
		</a>
		<div class="tabs_content gray_bg">
			<div class="tab_wrap">
				<div class="tab_contain sec_tab_contain">
					<div class="plans-block">
						<div class="highlights-title">
							<h2>PLANS</h2>
						</div>
						<div class="highlights-info">
							<h3>Our plans for 2023</h3>
							<p>
								It will be a challenging year, but we see many opportunities. These include
								opportunities to influence policy, to raise awareness and, by doing so, have a positive
								impact on the rights and freedoms of everyone in
								Europe, starting here in the Netherlands. Here is a preview of our plans for 2021.
							</p>
						</div>

						<div class="accordion" id="accordionExample2">
							{% for item in site.plans reversed %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingfaq1">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
										aria-controls="{{- item.title | remove:' '  -}}">
										<span>{{ item.number }}</span> {{ item.title }}
									</button>
								</h2>
								<div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
									aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
									<div class="accordion-body">
										<img src="{{ item.featured_image }}" alt="{{ item.title }}" />
										<div class="body-info">
											<p>
												{{ item.description }}
											</p>
											<a href="{{ item.url }}" class="btn-dark">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Tab 4 -->
	</div>
</div>

{% include header.html %}