---
layout: default
title: "Home"
lang: en
contents1:
  - heading: "FOREWORD"
    pagecontent: |
        <p>Urgency is a powerful weapon. If someone says something has to happen
        <em>now</em>, people typically leap right into action and only reflect
        afterwards. When the Dutch cabinet presents urgent measures, the House
        of Representatives of the Dutch parliament enters urgent consultations,
        so that the urgent measures can be rolled out with urgency, via an
        urgency procedure. Within a few weeks -- or sometimes even a few days,
        regulatory bodies and NGOs issue urgent responses. But the time needed
        to process this feedback is, of course, not available. Urgency rarely
        leads to strong legislation, let alone legislation that can count on
        broad-based support.</p>
        <p>Tech companies also like to invoke urgency. On February 19, 2023, Sam
        Altman, CEO of the company behind ChatGPT, tweeted: 'the adaptation to a
        world deeply integrated with AI tools is probably going to happen pretty
        quickly; the benefits (and fun!) have too much upside.' He concluded his
        tweet with the words: 'having time to understand what's happening, how
        people want to use these tools, and how society can co-evolve is
        critical.'</p>
        <p>The idea that society has to adjust to technological advancement is not
        new, and Altman's tweet was soon discredited by many as an outstanding
        example of tone-deaf technological determinism, i.e., the belief that
        technology follows its own set of laws and is a force outside our
        control, with its own will and timeline, and that sooner or later
        society will have to adapt to it.</p>
        <p>Obviously, it is not technology itself, but the makers of technology
        that are hurtling forward. In the case in question, Altman himself and
        his company, OpenAI. Million- and billion-dollar companies such as his
        see opportunities for making high profits in the short term by taking
        advantage of missing 'foolproof' laws and legislation. And by exploiting
        vulnerabilities in our democratic and rule-based processes. They're able
        to act more quickly than anyone else because they're not encumbered by
        democratic decision making processes, responsibility for a collective
        and just future or any concern for the victims of their reckless
        actions.</p>
        <p>Take facial-recognition technology. To learn about the history of facial
        recognition scandals, all you need to do is follow the quest of its
        creators for 'product-market fit.' One of the earliest examples of the
        large-scale deployment of facial-recognition technology was VK, the
        Russian service that helped users find the social media profiles of
        women they had photographed on the street. When this 'service'
        ultimately collapsed, something similar popped up elsewhere: Clearview
        AI. Clearview specialized in tracing. The idea is simple: a police
        officer takes a picture of someone, uploads it to Clearview and gets a
        range of online sources back, with photos of the person.</p>
        <p>It's patently obvious that what Clearview AI does is totally unlawful.
        Several European privacy oversight bodies have reprimanded the company
        for a variety of reasons. The French regulator called on it several
        times to halt its activities. Leaked sources also appeared to show that
        the Dutch police were using Clearview AI; the responsible government
        minister would neither confirm nor deny this.</p>
        <p>In the meantime, the police have published their <em>Framework for the
        deployment of facial-recognition technology</em>. In the framework's
        half-page-long preface, <em>fast</em> and related words are already used four
        times. Further on, the authors write: 'Developments of both a societal
        and technological nature are occurring in rapid succession, often in a
        tempo that makes it difficult to keep pace with with formal
        legislation.' The conclusion drawn by the police is that they are forced
        to deploy this technology -- outside the law. Urgency on the part of the
        vendor to market its discriminatory and potentially highly repressive
        products translates into urgency on the part of the potential purchaser
        to do 'something' with them. Citizens lose important protections and at
        the same time are confronted with an unpredictable and unreliable
        government.</p>
        <p>From the standpoint of the police, facial-recognition technology is
        clearly an available alternative. However, as we see it, it's the wrong
        one. Rather than viewing the sluggishness and many-voiced character of
        our democratic and rules-based processes as an obstacle, it is, we dare
        say, of the highest urgency for the government to start regarding these
        as a source of power. The question should not be, how can society can
        keep pace with technological developments?, but rather, how can the
        developers of technology best accommodate us?</p>
        <p>As we see it, 2023 will be dominated by the themes, AI legislation, the
        new rights of platform users and limiting government surveillance and
        censorship. As an organization, we invest in technological research,
        European public communication and broad-based opposition to harmful
        digitization. But before speeding ahead, we'd like to take a moment to
        look back on the successes of the past year. Interested?</p>
        <p>Bits of Freedom <br/>
        March, 2023</p>
        <h3 id="team">Team</h3>
        <p>Evelyn Austin <br/>
        Rejo Zenger <br/>
        Inge Wannet <br/>
        Lotte Houwing <br/>
        Nadia Benaissa <br/>
        Bér Engels <br/>
        Meri Urdaneta <br/>
        Nico Voskamp <br/>
        Lotje Beek <br/>
        Martijn de Heer <br/>
        Joran van Apeldoorn <br/>
        Ilja Schurink <br/>
        Ramla Yusuuf</p>
        <h3 id="board">Board</h3>
        <p>Sophie Logothetis (chair) <br/>
        Sahidah Somer (secretary) <br/>
        Peter Rampertaap (treasurer) <br/>
        Marjolein Lanzing <br/>
        Janine Huizenga</p>

contents2:
  - heading: "HIGHLIGHTS"
    pagecontent: |
        <p> {In the annual report, these highlights appear on an overview page. When a highlight is folded out, the full text appears.}</p>
contents3:
  - heading: "FINANCES"
    pagecontent: |
        <h3>Results <br> 2022</h3>
        <p><strong>Revenues (in euro) / 2022</strong></p>
    table:
      - heading: ""
      - heading: "Actual 2020"
      - heading: "Budget 2020"
      - heading: "Actual 2019"
    tablecontent:
      - data: "Individual donors"
        data2: "315"
        data3: "315"
        data4: "315"
      - data: "Foundations"
        data2: "300"
        data3: "300"
        data4: "300"
      - data: "Corporate supporters"
        data2: "200"
        data3: "200"
        data4: "200"
      - data: "Other"
        data2: "6"
        data3: "6"
        data4: "6"
      - data: "Subtotal"
        data2: "999"
        data3: "999"
        data4: "999"
      - data: "Total"
        data2: "999"
        data3: "999"
        data4: "999"
    pagecontent2: |
        <h4 id="discussion">Discussion</h4>
        <p>This year, we had four unexpected windfalls. We received support from
        Stichting Sub3, as well as a large one-time gift from a company, and the
        police were (again) ordered to pay us a fifteen-thousand-euro penalty.
        Our umbrella organization, European Digital Rights, twice awarded us a
        small grant of ca. € 10,000 to support our European activities.</p>
        <p>Our desired donor growth of ca. € 30,000 remained entirely unrealized.
        Although we succeeded in finding many new donors, an above-average
        number also departed. The increased costs of living and energy,
        inflation: some donors terminated their standing donation with pain in
        their hearts or found it necessary to reduce their contribution.
        Although, thanks to the above-mentioned windfalls, this won&#39;t cause
        problems in the short term, it is a worrying development for the longer
        term, one which could lead to forced down-sizing.</p>
        <p>On the expenditures side, four things stood out. After a number of years
        with fewer staff than anticipated, and, as a result, lower costs than
        budgeted for, we&#39;ve finally cleared our backlog. At the same time, we&#39;ve
        been incrementally increasing our expenditures in the area of our own
        communication, in order to improve awareness of our organization and its
        goals among a broad, interested public. Aside from this, generally
        speaking, expenditures were somewhat lower, and it was luckily not
        necessary to fall back on our long-term illness reserve!</p>
        <p>All in all, this means that we close the year with a modest positive
        result which will be put to use in the coming years. It brings our
        special-purpose reserve to ca. € 600,000 and our continuity reserve to
        roughly 30% of our expected costs for the coming year.</p>
        <p>In 2022, 7.1% of funds spent went to fundraising and 5.1% to
        administration. 85.9% was spent directly on achieving our objectives.
        This is in line with our principle of not spending more than 20% of our
        funds and our time on fundraising and administration.</p>
        <p>Our annual financial report for 2022 was audited by WITh Accountants and
        can be downloaded from:
        <a href="https://2022.bitsoffreedom.nl/pdf/bits-of-freedom-jaarrekening-2022.pdf">https://2022.bitsoffreedom.nl/</a>.</p>
        <h4 id="foundations">Foundations</h4>
        <p>For a portion of our work, it&#39;s difficult to obtain (sufficient)
        financial support from individuals. For this reason, foundations are
        extremely important to us, both for the sake of the sustainability of
        our work and the further development and growth of our organization. In
        some cases, foundations make it possible, at short notice, to take
        important steps at crucial moments, e.g., by financing a new role or
        research into a new work program.</p>
        <p>In 2022, we received support for our core costs from:</p>
        <ul>
        <li>The <a href="https://www.adessium.org/nl/">Adessium Foundation</a>: works
        toward a society in which people live in harmony with one another
        and with their surroundings.</li>
        <li>The <a href="http://fordfoundation.org/">Ford Foundation</a>: works toward a
        fair and just society.</li>
        <li>The <a href="https://www.limelight.foundation/">Limelight Foundation</a>: works
        toward a robust and free information ecosystem.</li>
        <li><a href="https://www.opensocietyfoundations.org/">Open Society Foundations</a>
        (OSF): work toward robust and inclusive democracies.</li>
        <li><a href="https://www.sidn.nl/">Stichting Internet Domeinregistratie
        Nederland</a> (SIDN): works toward a carefree
        digital world with opportunities for all.</li>
        <li><a href="https://www.stdem.org/">Stichting Democratie &amp; Media</a>: invests in
        independent, critical media and is dedicated to a robust democracy,
        based on the rule of law.</li>
        <li><a href="https://anbi.nl/publicatieverplichting/stichting-sub3/">Stichting
        Sub3</a>:
        through the promotion of equality, Sub3 strives to provide people
        and organizations with opportunities for further development.</li>
        </ul>
        <p>We received project financing from Aspiration Tech for our
        public-interest tech pilot, from Goeie Grutten for <a href="https://www.bitsoffreedom.nl/data-zo-zit-dat/"><em>Data. Zo zit
        dat</em></a><em>.</em>, from Luminate
        for <em>Litigating Big Tech</em> (in cooperation with PILP), from
        Gieskes-Strijbis Fonds for our work for a just society and for our
        partnership with Amnesty International, the Open State Foundation and
        Waag, and from Open Society Foundations within the context of the New
        Executives Fund.</p>
        <h4 id="donors">Donors</h4>
        <p>We concluded 2022 with 3,167 steady donors, from whom we receive funds
        on a monthly, quarterly or yearly basis. We also received donations from
        individuals 1,190 times via our website or by transfer. Donations from
        individual donors totaled € 368,901.</p>
        <p>A strong and stabile support base is indispensable to Bits of Freedom.
        Our donors not only enable us to work independently, but also play an
        essential role in amplifying our message and stimulating support for our
        organization. In 2022, we strengthened our connection to our support
        base by, among other things, expanding our quadrennial donor update,
        holding special donation events and involving donors more with our work.
        We also met up with many donors during an exclusive event at IMPAKT,
        Utrecht.</p>
        <p>Something else we focused on in 2022 was tax-advantageous donation. In
        this connection, we simplified the registration process by means of a
        special page on our website, to which we called attention during our
        <em>Ready-made Resolutions</em> year-end campaign. With success! Many steady
        donors re-registered as ANBI (public benefit organization) donors. On
        the one hand, this is financially advantageous to them and, on the
        other, it gives us the security of being able to count on their support
        for five years. Curious? You can read all about it on our website.</p>
        <h4 id="company-donors">Company donors</h4>
        <p>The following companies supported us in 2022:</p>
        <p>With € 10,000 or more: Duckduckgo and Freedom Internet</p>
        <p>With € 2,500 or more: BIT, Greenhost, IB-Vision, iunxi - serious ict
        infrastructure, Mollie, m7, Unc Inc, VoIPGRID and Voys</p>
        <p>With € 1,000 or more: Cryptography in Context, Eureka Unlimited, Hunki
        Enterprises, Intermax Cloudsourcing, VBVB ICT and Yourhosting</p>
        <p>With € 500 or more: Breedbandwinkel.nl, Considerati, CT&amp;V advies,
        Easyswitch.nl, GeoCat, Green Mini host, Het Rooster B.V., iCulture, Mark
        Verhijde Advies &amp; Projecten B.V., Mijndomein, NederHost, Nijweide BV,
        PrivacyLab, Prijs Vergelijken, RealConnections, STRM Privacy, Sooda
        internetbureau B.V., Talksome, VPNGids.nl and Zygomatic</p>
        <p>With € 250 or more as a ZZP (independent worker without employees)
        donor: Charys, DevNomads, Digitaal Werktuig, Filosofie in actie, Game
        Changer Unltd., Leemshop, Lumifin Privacy Professionals, Mindshards</p>
        <p>Finally, we received support in kind from: Bitonic, Blendle, Byte,
        CipherMail, Cyso / SQR.NL, DMARC Analyzer, Ekco, HAGENS, Jeroen Smeets,
        Mollie, Passbolt, Rick Pastoor, Sentia and Xolphin.</p>
        <h4 id="budget-2023">Budget / 2023</h4>
        <p><strong>Expected expenditures / 2023</strong></p>
    tablecontent2:
    pagecontent3: |
        <p>In our expenditures, we allow for a staffing of 11.5 FTEs. A number of
        specific projects and events have already been budgeted at ca. €
        340,000, with BOF&#39;s own share set at € 25,000. Most of the revenues have
        already been promised.</p>
        <p>With six foundations, we have multi-year arrangements for financial
        support. Adessium Foundation is supporting us through 2025 with €
        150,000 per year, Stichting Democratie &amp; Media is supporting us through
        2024 with € 35,000 per year and from Open Society Foundations (OSF) we
        received, in 2021, € 231,000 for the period, 2022 through 2024.
        Limelight Foundation is supporting us through 2024 with € 85,000 per
        year, Stichting Internet Domeinregistratie Nederland (SIDN) is
        supporting us up to 2024 with € 30,000 per year and, finally, Sub3 is
        supporting us for the period from April, 2022 to April, 2024 with an
        amount totaling € 400,000. We hope to raise an additional € 175,000 in
        foundation support in 2023.</p>
        <p>We hope to raise a total of € 424,000 from donors in 2023, which
        represents a substantial increase of ca. € 55,000 as compared to the
        past year. We hope to raise € 109,000 from companies.</p>
        <p>Should we realize the above ambitions, the difference between estimated
        revenues and expenditures will come to - € 204,987. This negative result
        will be supplemented with funds from the special-purpose reserve. Our
        continuity reserve will not be tapped in 2023.</p>
        <h2 id="our-financing-in-the-coming-years">Our financing in the coming years</h2>
        <h4 id="desired-financing-mix">Desired financing mix</h4>
        <p>Bits of Freedom assigns great importance to having a sustainable
        financial situation, and it is our intention to remain fully
        independent. In drawing up our financial planning, we always try to look
        five years ahead. Our wish is for half of our revenues to come from
        individual donors. We would like to receive ca. 35% of our core revenues
        from funds and foundations and hope eventually to be able to receive ca.
        15% from companies. At the present time, the share in revenues from
        donors (27% in 2023) and from company sponsoring (7% in 2023) is too low
        as compared to revenues from foundations (47% in 2023). Finally, we see
        that the share in project financing (19% in 2023) is increasing each
        year. This involves risks in the areas of effectivity, knowledge and
        expertise security and good employment practice.</p>
        <h4 id="challenges">Challenges</h4>
        <p>In 2023, we expect to realize our ambitions with regard to donor revenue
        by focusing on structural arrangements and by reaching and attracting
        both existing and new supporters, facilitated by an extensive revamp of
        our own donation software and an enlargement of our shop, as well as
        through campaigns. E.g., in consultation with donors, we are currently
        developing a new donor flow that will make donating to Bits of Freedom
        even simpler and more rewarding than it already is. Further, there will
        be a greater focus on micro-donations, which are also to be given a
        permanent location within our channels. Finally, we can announce that
        our donor environment has been expanded to include new functions which
        simplify tax-advantageous donation and give donors greater control over
        their donation and communication preferences. We are proud of being able
        to develop this within the context of our current self-developed,
        open-source donation software that gives top-priority to privacy.</p>
        <p>We also hope to receive European financing for our growing European
        ambitions in the areas of public campaigns and enforcement of the
        Digital Services Act and Digital Markets Act. In part for this reason,
        we have decided to give greater attention to our English-language
        communication and international visibility.</p>
        <p>In the areas of asset management and financial reserves, we are working
        towards maintaining a continuity reserve of minimally 25% of our annual
        costs for the coming year. Such a percentage is normal for NGOs of our
        size. We expect to have a continuity reserve of ca. 30% at the end of
        2023.</p>
        <h4 id="reach">Reach</h4>
        <p>In 2022, we reached millions of people via our own newsletters, social
        media channels and website. We also stimulated new interest through more
        than a hundred media appearances. We realized several micro-campaigns to
        further increase awareness about our activities and spoke at
        universities and on panels. We also wrote several blogs to keep our
        support base apprised of developments. Finally, we carried out more than
        a hundred lobby meetings and spoke three times as experts in the House
        of Representatives and once in the Senate.</p>

contents4:
  - heading: "PLANS / 2023"
    pagecontent: |
       <p>
           {In the annual report, these highlights appear on an overview page. When a highlight is folded out, the full text appears.}
       </p>
---
<div class="right-part">
    <div class="tabs">
        {% for content in page.contents1 %}
        <!-- Tab 1 -->
        <a href="#" class="tabs_link green_bg w-inline-block">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content green_bg">
            <div class="tab_wrap">
                <div class="tab_contain">
                    <div class="foreword-block">
        <h2>{{ content.heading }}</h2>
            {{ content.pagecontent }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab 1 -->
        {% endfor %}
        {% for content in page.contents2 %}
        <!-- Tab 2 -->
        <a href="#" class="tabs_link yellow_bg w-inline-block active">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>

        <div class="tabs_content yellow_bg active">
            <div class="tab_wrap">
                <div class="tab_contain sec_tab_contain">
                    <div class="highlights-block">
                    <div class="highlights-title">
                        <h2>{{ content.heading }}</h2>
                    </div>
                    <div class="highlights-info">
                        {{ content.pagecontent }}
                    </div>

        <div class="accordion" id="accordionExample1">
          {% assign highlights = site.highlights | where:"lang", page.lang %}
                            {% for item in highlights reversed %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingfaq1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
                                        aria-controls="{{- item.title | remove:' '  -}}">
                                        {{ item.title }}
                                    </button>
                                </h2>
                                <div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <img src="{{ item.featured_image }}" alt="{{ item.title }}" />
                                        <div class="body-info">
                                            <p>
                                                {{ item.description }}
                                            </p>
                                            <a href="{{ item.url }}" class="btn-dark">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
        <!-- End Tab 2 -->
        {% for content in page.contents3 %}
        <!-- Tab 3 -->
        <a href="#" class="tabs_link light_bg w-inline-block">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content light_bg">
            <div class="tab_wrap">
                <div class="tab_contain">
                    <div class="finances-block">
                        <div class="highlights-title">
                            <h2>{{ content.heading }}</h2>
                        </div>
                        <div class="highlights-info">
                        {{ content.pagecontent }}
                        <table><tbody>
                        <tr>
                        <td> Individual donors</td>
                        <td>368,901</td>
                        <td>395,599</td>
                        <td>362,672</td>
                        </tr>

                        <tr>
                        <td> Foundations </td>
                        <td>574,000</td>
                        <td>412,000</td>
                        <td>408,161</td>
                        </tr>

                        <tr>
                        <td> Business supporters</td>
                        <td>139,157</td>
                        <td>95,000</td>
                        <td>90,423 </td>
                        </tr>

                        <tr>
                        <td> Other </td>
                        <td>16,489 </td>
                        <td>\-</td>
                        <td>19,870 </td>
                        </tr>

                        <tr>
                        <td><strong>Subtotal</strong></td>
                        <td><strong>1,098,547<strong></td>
                        <td><strong>902,599</strong></td>
                        <td><strong>881,126</strong></td>
                        </tr>

                        <tr>
                        <td> Project  financing</td>
                        <td>258,893</td>
                        <td>255,108</td>
                        <td>137,383</td>
                        </tr>

                        <tr>
                        <td><strong>Total expenditures <br>(in euro) 2022</strong></td>
                        <td><strong>1,357,440</strong></td>
                        <td><strong>1,157,707</strong></td>
                        <td><strong>1,018,509</strong></td></tr>

                        <tr>
                        <td></td>
                        <td>Realization / 2022<td>
                        <td>Estimated / 2022</td>
                        <td>Realization / 2021</td>
                        </tr>

                        <tr>
                        <td> Personnel costs</td>
                        <td>718,479</td>
                        <td>740,669</td>
                        <td>478,800</td>
                        </tr>

                        <tr>
                        <td> Housing</td>
                        <td>29,508</td>
                        <td>32,418</td>
                        <td>26,720 </td>
                        </tr>

                        <tr>
                        <td> Office</td>
                        <td>37,596</td>
                        <td>23,254</td>
                        <td>13,265 </td>
                        </tr>

                        <tr>
                        <td> Communication </td>
                        <td>42,711</td>
                        <td>47,525</td>
                        <td>24,261 </td>
                        </tr>

                        <tr>
                        <td> Building-up movement</td>
                        <td>16,005</td>
                        <td>26,850</td>
                        <td>3,705  </td>
                        </tr>

                        <tr>
                        <td> General costs</td>
                        <td>32,408</td>
                        <td>52,282</td>
                        <td>35,297 </td>
                        </tr>

                        <tr>
                        <td> Deductions</td>
                        <td>1,201 </td>
                        <td>\- </td>
                        <td>1,937  </td>
                        </tr>

                        <tr>
                        <td> <strong>Subtotal</strong></td>
                        <td><strong>877,908</strong></td>
                        <td><strong>922,998</strong></td>
                        <td><strong>583,985</strong></td>
                        </tr>

                        <tr>
                        <td> Projects</td>
                        <td>186,920</td>
                        <td>275,108</td>
                        <td>166,857</td>
                        </tr>

                        <tr>
                        <td> <strong>Total</strong></td>
                        <td><strong>1,064,828</strong></td>
                        <td><strong>1,198,106</strong></td>
                        	<td><strong>750,842</strong></td>
                        </tr>
                    </tbody></table>
                        {{ content.pagecontent2 }}
                        <table>
                        <tbody>
                        <tr>
                            <td>Personnel costs</td>
                            <td>1,137,118</td>
                        </tr>
                        <tr>
                            <td>Housing  </td>
                            <td>89,170</td>
                            </tr>
                        <tr>
                            <td>Office  </td>
                            <td>   21,204</td></tr>
                        <tr><td>Communication  </td>              <td>        118,648</td></tr>
                        <tr><td>Building-up movement   </td>              <td>26,500</td></tr>
                        <tr><td>General costs          </td>              <td>62,347</td></tr>
                        <tr><td><strong>Subtotal</strong>   </td>              <td>        <strong>1,455,005</strong></td></tr>
                        <tr><td>Projects       </td>              <td> 337,492</td></tr>
                        <tr><td><strong>Total</strong>         </td>              <td>      <strong>1,792,479</strong></p></td></tr>
                        </tbody></table>
                        <br><br>
                        <p><strong>Expected revenues / 2023</strong></p>
                       <table>
                        <tbody>  <tr><td>Individual donors </td> <td>     424,000</td></tr>
                        <tr><td>Foundations       </td> <td>   752,000</td></tr>
                        <tr><td>Company supporters </td> <td>  109,000</td></tr>
                        <tr><td>Other             </td> <td>   -</td></tr>
                        <tr><td><strong>Subtotal</strong>    </td> <td>     <strong>1,285,000</strong></td></tr>
                        <tr><td>Project financing  </td> <td>  302,492</td></tr>
                        <tr><td><strong>Total</strong>     </td> <td>       <strong>1,587,492</strong></p></td></tr>
                        </tbody></table>
                        <br><br>
                        {{ content.pagecontent3 }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab 3 -->
{% endfor %}
{% for content in page.contents4 %}
        <!-- Tab 4 -->
        <a href="#" class="tabs_link gray_bg w-inline-block" id="myplans">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content gray_bg">
            <div class="tab_wrap">
                <div class="tab_contain sec_tab_contain">
                    <div class="plans-block">
                        <div class="highlights-title">
                            <h2>{{ content.heading }}</h2>
                        </div>
                        <div class="highlights-info">
                            {{ content.pagecontent }}
                        </div>

                        <div class="accordion" id="accordionExample2">
                            {% assign plans = site.plans | where:"lang", page.lang %}
                            {% for item in site.plans reversed %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingfaq1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
                                        aria-controls="{{- item.title | remove:' '  -}}">
                                        <span>{{ item.number }}</span> {{ item.title }}
                                    </button>
                                </h2>
                                <div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <img src="{{ item.featured_image }}" alt="{{ item.title }}" />
                                        <div class="body-info">
                                            <p>
                                                {{ item.description }}
                                            </p>
                                            <a href="{{ item.url }}" class="btn-dark">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
        <!-- End Tab 4 -->
    </div>
</div>

{% include header.html %}