---
layout: default
title: "Home"
lang: en
contents1:
  - heading: "FOREWORD"
    pagecontent: |
        <p>Urgency is a powerful weapon. If someone says something has to happen
        <em>now</em>, people typically leap right into action and only reflect
        afterwards. When the Dutch cabinet presents urgent measures, the House
        of Representatives of the Dutch parliament enters urgent consultations,
        so that the urgent measures can be rolled out with urgency, via an
        urgency procedure. Within a few weeks -- or sometimes even a few days,
        regulatory bodies and NGOs issue urgent responses. But the time needed
        to process this feedback is, of course, not available. Urgency rarely
        leads to strong legislation, let alone legislation that can count on
        broad-based support.</p>
        <p>Tech companies also like to invoke urgency. On February 19, 2023, Sam
        Altman, CEO of the company behind ChatGPT, tweeted: 'the adaptation to a
        world deeply integrated with AI tools is probably going to happen pretty
        quickly; the benefits (and fun!) have too much upside.' He concluded his
        tweet with the words: 'having time to understand what's happening, how
        people want to use these tools, and how society can co-evolve is
        critical.'</p>
        <p>The idea that society has to adjust to technological advancement is not
        new, and Altman's tweet was soon discredited by many as an outstanding
        example of tone-deaf technological determinism, i.e., the belief that
        technology follows its own set of laws and is a force outside our
        control, with its own will and timeline, and that sooner or later
        society will have to adapt to it.</p>
        <p>Obviously, it is not technology itself, but the makers of technology
        that are hurtling forward. In the case in question, Altman himself and
        his company, OpenAI. Million- and billion-dollar companies such as his
        see opportunities for making high profits in the short term by taking
        advantage of missing 'foolproof' laws and legislation. And by exploiting
        vulnerabilities in our democratic and rule-based processes. They're able
        to act more quickly than anyone else because they're not encumbered by
        democratic decision making processes, responsibility for a collective
        and just future or any concern for the victims of their reckless
        actions.</p>
        <p>Take facial-recognition technology. To learn about the history of facial
        recognition scandals, all you need to do is follow the quest of its
        creators for 'product-market fit.' One of the earliest examples of the
        large-scale deployment of facial-recognition technology was VK, the
        Russian service that helped users find the social media profiles of
        women they had photographed on the street. When this 'service'
        ultimately collapsed, something similar popped up elsewhere: Clearview
        AI. Clearview specialized in tracing. The idea is simple: a police
        officer takes a picture of someone, uploads it to Clearview and gets a
        range of online sources back, with photos of the person.</p>
        <p>It's patently obvious that what Clearview AI does is totally unlawful.
        Several European privacy oversight bodies have reprimanded the company
        for a variety of reasons. The French regulator called on it several
        times to halt its activities. Leaked sources also appeared to show that
        the Dutch police were using Clearview AI; the responsible government
        minister would neither confirm nor deny this.</p>
        <p>In the meantime, the police have published their <em>Framework for the
        deployment of facial-recognition technology</em>. In the framework's
        half-page-long preface, <em>fast</em> and related words are already used four
        times. Further on, the authors write: 'Developments of both a societal
        and technological nature are occurring in rapid succession, often in a
        tempo that makes it difficult to keep pace with with formal
        legislation.' The conclusion drawn by the police is that they are forced
        to deploy this technology -- outside the law. Urgency on the part of the
        vendor to market its discriminatory and potentially highly repressive
        products translates into urgency on the part of the potential purchaser
        to do 'something' with them. Citizens lose important protections and at
        the same time are confronted with an unpredictable and unreliable
        government.</p>
        <p>From the standpoint of the police, facial-recognition technology is
        clearly an available alternative. However, as we see it, it's the wrong
        one. Rather than viewing the sluggishness and many-voiced character of
        our democratic and rules-based processes as an obstacle, it is, we dare
        say, of the highest urgency for the government to start regarding these
        as a source of power. The question should not be, how can society can
        keep pace with technological developments?, but rather, how can the
        developers of technology best accommodate us?</p>
        <p>As we see it, 2023 will be dominated by the themes, AI legislation, the
        new rights of platform users and limiting government surveillance and
        censorship. As an organization, we invest in technological research,
        European public communication and broad-based opposition to harmful
        digitization. But before speeding ahead, we'd like to take a moment to
        look back on the successes of the past year. Interested?</p>
        <p>Bits of Freedom <br/>
        March, 2023</p>
        <h3 id="team">Team</h3>
        <p>Evelyn Austin <br/>
        Rejo Zenger <br/>
        Inge Wannet <br/>
        Lotte Houwing <br/>
        Nadia Benaissa <br/>
        Bér Engels <br/>
        Meri Urdaneta <br/>
        Nico Voskamp <br/>
        Lotje Beek <br/>
        Martijn de Heer <br/>
        Joran van Apeldoorn <br/>
        Ilja Schurink <br/>
        Ramla Yusuuf</p>
        <h3 id="board">Board</h3>
        <p>Sophie Logothetis (chair) <br/>
        Sahidah Somer (secretary) <br/>
        Peter Rampertaap (treasurer) <br/>
        Marjolein Lanzing <br/>
        Janine Huizenga</p>

contents2:
  - heading: "HIGHLIGHTS"
    pagecontent: |
        <p> {In the annual report, these highlights appear on an overview page. When a highlight is folded out, the full text appears.}</p>
contents3:
  - heading: "FINANCES"
    pagecontent: |
        <h3>Our income in 2022</h3>
        <p>
            Bits of Freedom’s income in 2022 amounted to € 862,246. 37% of this came from individual
            donors, 43% from large funds, and 11% from business supporters. The remaining 9% came
            from project
            financing and the sale of merchandise.
        </p>
        <p>Table: Income 2022 (x € 1.000)</p>
    table:
      - heading: ""
      - heading: "Actual 2020"
      - heading: "Budget 2020"
      - heading: "Actual 2019"
    tablecontent:
      - data: "Individual donors"
        data2: "315"
        data3: "315"
        data4: "315"
      - data: "Foundations"
        data2: "300"
        data3: "300"
        data4: "300"
      - data: "Corporate supporters"
        data2: "200"
        data3: "200"
        data4: "200"
      - data: "Other"
        data2: "6"
        data3: "6"
        data4: "6"
      - data: "Subtotal"
        data2: "999"
        data3: "999"
        data4: "999"
      - data: "Total"
        data2: "999"
        data3: "999"
        data4: "999"
    imagename: "Pie chart"
    image: "/assets/images/chart.svg"
contents4:
  - heading: "PLANS / 2023"
    pagecontent: |
       <p>
           {In the annual report, these highlights appear on an overview page. When a highlight is folded out, the full text appears.}
       </p>
---
<div class="right-part">
    <div class="tabs">
        {% for content in page.contents1 %}
        <!-- Tab 1 -->
        <a href="#" class="tabs_link green_bg w-inline-block">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content green_bg">
            <div class="tab_wrap">
                <div class="tab_contain">
                    <div class="foreword-block">
                        <h2>{{ content.heading }}</h2>
                            {{ content.pagecontent }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab 1 -->
        {% endfor %}
        {% for content in page.contents2 %}
        <!-- Tab 2 -->
        <a href="#" class="tabs_link yellow_bg w-inline-block active">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>

        <div class="tabs_content yellow_bg active">
            <div class="tab_wrap">
                <div class="tab_contain sec_tab_contain">
                    <div class="highlights-block">
                        <div class="highlights-title">
                            <h2>{{ content.heading }}</h2>
                        </div>
                        <div class="highlights-info">
                            {{ content.pagecontent }}
                        </div>

                        <div class="accordion" id="accordionExample1">
                          {% assign highlights = site.highlights | where:"lang", page.lang %}
                            {% for item in highlights reversed %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingfaq1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
                                        aria-controls="{{- item.title | remove:' '  -}}">
                                        {{ item.title }}
                                    </button>
                                </h2>
                                <div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <img src="{{ item.featured_image }}" alt="{{ item.title }}" />
                                        <div class="body-info">
                                            <p>
                                                {{ item.description }}
                                            </p>
                                            <a href="{{ item.url }}" class="btn-dark">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
        <!-- End Tab 2 -->
        {% for content in page.contents3 %}
        <!-- Tab 3 -->
        <a href="#" class="tabs_link light_bg w-inline-block">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content light_bg">
            <div class="tab_wrap">
                <div class="tab_contain">
                    <div class="finances-block">
                        <div class="highlights-title">
                            <h2>{{ content.heading }}</h2>
                        </div>
                        <div class="highlights-info">
                        {{ content.pagecontent }}
                        </div>

                        <div class="finances-table">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        {% for contenttt in content.table %}
                                        <th>{{ contenttt.heading }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dataset in content.tablecontent %}
                                    <tr>
                                        <td>{{dataset.data}}</td>
                                        <td>{{dataset.data2}}</td>
                                        <td>{{dataset.data3}}</td>
                                        <td>{{dataset.data4}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="chart-block">
                            <h3>{{ content.imagename }}</h3>

                            <img src="{{ content.image }}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab 3 -->
{% endfor %}
{% for content in page.contents4 %}
        <!-- Tab 4 -->
        <a href="#" class="tabs_link gray_bg w-inline-block" id="myplans">
            <p class="tabs_heading">{{ content.heading }}</p>
        </a>
        <div class="tabs_content gray_bg">
            <div class="tab_wrap">
                <div class="tab_contain sec_tab_contain">
                    <div class="plans-block">
                        <div class="highlights-title">
                            <h2>{{ content.heading }}</h2>
                        </div>
                        <div class="highlights-info">
                            {{ content.pagecontent }}
                        </div>

                        <div class="accordion" id="accordionExample2">
                            {% for item in site.plans reversed %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingfaq1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{- item.title | remove:' '  -}}" aria-expanded="false"
                                        aria-controls="{{- item.title | remove:' '  -}}">
                                        <span>{{ item.number }}</span> {{ item.title }}
                                    </button>
                                </h2>
                                <div id="{{- item.title | remove:' ' -}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingfaq1" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <img src="{{ item.featured_image }}" alt="{{ item.title }}" />
                                        <div class="body-info">
                                            <p>
                                                {{ item.description }}
                                            </p>
                                            <a href="{{ item.url }}" class="btn-dark">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
        <!-- End Tab 4 -->
    </div>
</div>

{% include header.html %}
