<!-- Header -->
<header>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/"><img src="{{ '/assets/images/mobile-logo.svg' | relative_url }}"
					alt="Logo" /></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggle"
				aria-controls="NavbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="NavbarToggle">
				<div class="mobile-buttons">
					<ul>
						<li><a href="/about/">About Bits of Freedom</a></li>
						<li><a href="/">Colophon</a></li>
						<li><a href="#">ANNUAL REPORT .PDF</a></li>
						<li><a href="#">FINANCIAL STATEMENT .PDF</a></li>
						<li><a href="/nl">NL</a></li>
						<li><a href="/">ENG</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<!-- End Header -->

<!-- Left Part -->
<div class="left-part">
	<div class="logo-bix">
		{% if site.data.settings.header_settings.logo_image %}
		<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}"
			alt="{{ site.data.settings.basic_settings.site_title }}">
		{% endif %}
		<a href="#" class="togglebar"> <img src="{{ '/assets/images/togglebar.svg' | relative_url }}" /> </a>
	</div>

	<div class="info-block">
		<ul>
			<li>
				<h2>2022</h2>
			</li>
			<li><a href="/about/" class="btn-main">About Bits of Freedom</a></li>
			<li><a href="/" class="btn-main">Colophon</a></li>
			<li>
				<div class="lang-box">
					<a href="/nl/" class="btn-white">NL</a>
					<a href="/" class="btn-dark">ENG</a>
				</div>
{% for tongue in site.languages %}
<a {% if tongue == site.active_lang %} class="btn-dark" {% endif %} {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue }}</a> |
  {% endfor %}
			</li>
		</ul>
	</div>

	<div class="bottom-buttons">
		<ul>
			<li><a href="#" class="btn-dark">ANNUAL REPORT .PDF</a></li>
			<li><a href="#" class="btn-white">financial statement .PDF</a></li>
		</ul>
	</div>
</div>
<!-- End Left Part -->