@media(min-width:1801px) and (max-width:1900px){
	.tab_contain{width: 49vw;margin: 0 auto;}
	.tab_contain.about_contain {width: 841px;}


	.highlights_tab_contain .highlights-title h2{font-size: 65px;}
}
@media(min-width:1601px) and (max-width:1800px){
	.btn-main{font-size: 14px;}
	.lang-box a{min-width: 65px;}
	.bottom-buttons{padding: 0 15px 20px;}
	.bottom-buttons ul li a{padding: 10px;font-size: 16px;}

	.tabs_link{padding: 30px 15px;}
	.tabs_link .tabs_heading{font-size: 20px;line-height: 30px;}
	.foreword-block{padding: 0 15px;}
	.tab_contain{width: 797px;margin: 0 auto;}
	.foreword-block h2{font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.highlights-info{padding: 0 25px 35px;}
	.highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-block .accordion .accordion-item .accordion-button{padding: 50px 35px 50px 15px;font-size: 20px;line-height: 30px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;font-size: 18px;}
	.highlights-block .accordion .accordion-body .body-info{padding: 20px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.finances-table{padding: 0 25px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.plans-block .highlights-info{padding: 0 25px 35px;}
	.plans-block .highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.plans-block .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}


	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.about_contain .about-title{padding: 0 15px;}
	.about_contain .about-title h2{font-size: 40px;margin: 0 0 30px;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title ul li a{width:150px;padding: 8px 10px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;}
}
@media(min-width:1401px) and (max-width:1600px){
	.btn-main{font-size: 14px;}
	.lang-box a{min-width: 65px;}
	.bottom-buttons{padding: 0 15px 20px;}
	.bottom-buttons ul li a{padding: 10px;font-size: 16px;}

	.tabs_link{padding: 30px 15px;}
	.tabs_link .tabs_heading{font-size: 20px;line-height: 30px;}
	.foreword-block{padding: 0 15px;}
	.tab_contain{width: 667px;margin: 0 auto;}
	.foreword-block h2{font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.highlights-info{padding: 0 25px 35px;}
	.highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-block .accordion .accordion-item .accordion-button{padding: 50px 35px 50px 15px;font-size: 20px;line-height: 30px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;font-size: 18px;}
	.highlights-block .accordion .accordion-body .body-info{padding: 20px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.finances-table{padding: 0 25px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.plans-block .highlights-info{padding: 0 25px 35px;}
	.plans-block .highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.plans-block .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}


	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.about_contain .about-title{padding: 0 15px;}
	.about_contain .about-title h2{font-size: 40px;margin: 0 0 30px;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title ul li a{width:150px;padding: 8px 10px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;}
}
@media(min-width:1201px) and (max-width:1400px){
	.btn-main{font-size: 14px;}
	.lang-box a{min-width: 65px;}
	.bottom-buttons{padding: 0 15px 20px;}
	.bottom-buttons ul li a{padding: 10px;font-size: 16px;}

	.tabs_link{padding: 30px 15px;}
	.tabs_link .tabs_heading{font-size: 20px;line-height: 30px;}
	.foreword-block{padding: 0 15px;}
	.tab_contain{width: 537px;margin: 0 auto;}
	.foreword-block h2{font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.highlights-info{padding: 0 25px 35px;}
	.highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-block .accordion .accordion-item .accordion-button{padding: 50px 35px 50px 15px;font-size: 20px;line-height: 30px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;font-size: 18px;}
	.highlights-block .accordion .accordion-body .body-info{padding: 20px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.finances-table{padding: 0 25px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.plans-block .highlights-info{padding: 0 25px 35px;}
	.plans-block .highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.plans-block .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}


	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.about_contain .about-title{padding: 0 15px;}
	.about_contain .about-title h2{font-size: 40px;margin: 0 0 30px;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights_tab_contain .highlights-title .row .col-md-6{width: 100%;}
	.highlights_tab_contain .highlights-title{padding: 0 15px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start;padding: 10px 0 0;}
	.highlights_tab_contain .highlights-title ul li a{width:150px;padding: 8px 10px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;}

	.highlights_tab_contain .highlights-title{margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title .row .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .row .col-md-6:last-child {width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 30px;line-height: 40px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;padding: 0;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
}

@media(min-width:1025px) and (max-width:1200px){
	.lang-box{height: auto;}
	.info-block{margin-top: -62px}
	.info-block ul li{margin: 0 0 10px;}
	.info-block ul li:first-child{margin: 0;}
	.info-block ul li a{font-size: 16px;padding: 15px 20px;}
	.info-block ul li h2{font-size: 40px;line-height: 40px;border-radius: 40px 40px 0 0;text-align: center;}
	.info-block{padding: 0 15px}
	.info-block ul{display: block;}
	.info-block:before{display: none;}
	.info-block ul li:nth-child(3){background: transparent;}
	.info-block ul li:nth-child(2){background: transparent;}
	.info-block ul li{width: 100%;}
	.logo-bix{height: 50vh;}
	.bottom-buttons{padding: 0 15px 20px;}
	.bottom-buttons ul{display: block;}
	.bottom-buttons ul li{width: 100%;margin: 0 0 10px;}
	.bottom-buttons ul li:last-child{margin: 0;}

	.tabs_link{padding: 30px 15px;}
	.tabs_link .tabs_heading{font-size: 20px;line-height: 30px;}
	.foreword-block{padding: 0 15px;}
	.tab_contain{width: 422px;margin: 0 auto;}
	.foreword-block h2{font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.highlights-info{padding: 0 25px 35px;}
	.highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-block .accordion .accordion-item .accordion-button{padding: 50px 35px 50px 15px;font-size: 20px;line-height: 30px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;font-size: 18px;}
	.highlights-block .accordion .accordion-body .body-info{padding: 20px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.finances-table{padding: 0 25px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.plans-block .highlights-info{padding: 0 25px 35px;}
	.plans-block .highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.plans-block .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}


	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.about_contain .about-title{padding: 0 15px;}
	.about_contain .about-title h2{font-size: 40px;margin: 0 0 30px;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights_tab_contain .highlights-title .row .col-md-6{width: 100%;}
	.highlights_tab_contain .highlights-title{padding: 0 15px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.highlights_tab_contain .highlights-title ul{justify-content: flex-start;padding: 10px 0 0;}
	.highlights_tab_contain .highlights-title ul li a{width:150px;padding: 8px 10px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;}

	.highlights_tab_contain .highlights-title{margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title .row .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .row .col-md-6:last-child {width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 26px;line-height: 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;padding: 0;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 8px;width: auto;padding: 2px 12px;}
}

@media(min-width:992px) and (max-width:1024px){
	.lang-box{height: auto;}
	.info-block{margin-top: -62px}
	.info-block ul li{margin: 0 0 10px;}
	.info-block ul li:first-child{margin: 0;}
	.info-block ul li a{font-size: 16px;padding: 15px 20px;}
	.info-block ul li h2{font-size: 40px;line-height: 40px;border-radius: 40px 40px 0 0;text-align: center;}
	.info-block{padding: 0 15px}
	.info-block ul{display: block;}
	.info-block:before{display: none;}
	.info-block ul li:nth-child(3){background: transparent;}
	.info-block ul li:nth-child(2){background: transparent;}
	.info-block ul li{width: 100%;}
	.logo-bix{height: 50vh;}
	.bottom-buttons{padding: 0 15px 20px;}
	.bottom-buttons ul{display: block;}
	.bottom-buttons ul li{width: 100%;margin: 0 0 10px;}
	.bottom-buttons ul li:last-child{margin: 0;}

	.tabs_link{padding: 30px 15px;}
	.tabs_link .tabs_heading{font-size: 20px;line-height: 30px;}
	.foreword-block{padding: 0 15px;}
	.tab_contain{width: 400px;margin: 0 auto;}
	.foreword-block h2{font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.highlights-info{padding: 0 25px 35px;}
	.highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.highlights-block .accordion .accordion-item .accordion-button{padding: 50px 35px 50px 15px;font-size: 20px;line-height: 30px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;font-size: 18px;}
	.highlights-block .accordion .accordion-body .body-info{padding: 20px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.finances-table{padding: 0 25px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .highlights-title h2{padding: 0 15px;font-size: 30px;line-height: 40px;margin: 0 0 20px;}
	.plans-block .highlights-info{padding: 0 25px 35px;}
	.plans-block .highlights-info h3{font-size: 28px;margin: 0 0 20px;}
	.plans-block .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}


	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.about_contain .about-title{padding: 0 15px;}
	.about_contain .about-title h2{font-size: 40px;margin: 0 0 30px;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights_tab_contain .highlights-title .row .col-md-6{width: 100%;}
	.highlights_tab_contain .highlights-title{padding: 0 15px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start;padding: 10px 0 0;}
	.highlights_tab_contain .highlights-title ul li a{width:150px;padding: 8px 10px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;}

	.highlights_tab_contain .highlights-title{margin: 0 0 20px;}
	.highlights_tab_contain .highlights-title .row .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .row .col-md-6:last-child {width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 26px;line-height: 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;padding: 0;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 8px;width: auto;padding: 2px 12px;}
}

@media(min-width:768px) and (max-width:991px){
	.main-wrpper{display: block;}
	.left-part{width: 100%;height: auto;min-height: unset;}
	.right-part{width: 100%;height: auto;min-height: unset;}

	.info-block{display: none;}
	.bottom-buttons{display: none;}

	.logo-bix{height: auto;min-height: unset;padding: 10px 15px;}
	.logo-bix img{max-width: 150px;margin: 0;}

	.tabs{display: block;height: auto;overflow: initial;}
	.tabs_link{box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);padding: 14px 15px;display: block;}
	.tabs_link .tabs_heading{font-size: 23px;line-height: 26px;transform: unset;}
	.tab_contain{width: 100%;height: auto;padding: 0}
	.tabs_content{width: 100%;height: 0;padding: 0;}
	.tabs_content.active{height: auto;}

	.foreword-block{padding: 0 25px;}
	.foreword-block h2{font-size: 26px;line-height: 29px;margin: 0 0 50px;display: none;}
	.foreword-block p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}

	.about_contain .about-title{display: none;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights-title h2{display: none;}
	.highlights-info{padding: 0 15px 100px;}
	.highlights-info h3{font-size: 20px;line-height: 23px;margin: 0 0 10px;}
	.highlights-info p{font-size: 15px;line-height: 24px;}

	.highlights-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 15px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.highlights-block .accordion .accordion-body {background: #fff;}
	.highlights-block .accordion .accordion-body .body-info{padding: 38px 25px 68px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 68px;}

	.finances-block .highlights-info p{margin: 0 0 30px;}
	.finances-table{padding: 0 15px 50px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;margin: 0 0 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.mobile-buttons{display: block;}
	.togglebar{display: table;}

	.left-part{display: none;}
	header{display: block;}
	.highlights-block .accordion .accordion-body .body-info .btn-dark{font-size: 8px;padding: 4px 20px;}
	.highlights_tab_contain .highlights-title .col-md-6{width: 100%}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start;}
	.highlights_tab_contain .highlights-title ul li a{width: 165px;}
	.highlights_tab_contain img{margin: 0 0 58px;}
	.highlights_tab_contain .highlights-info{padding: 0 36px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;padding: 8px 20px}

	.highlights_tab_contain .highlights-title{padding: 30px 15px 25px;margin: 0;}
	.highlights_tab_contain .highlights-title .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .col-md-6:last-child{width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 35px;line-height: 40px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 12px;width: auto;padding: 5px 20px;}
}

@media(min-width:576px) and (max-width:767px){
	.main-wrpper{display: block;}
	.left-part{width: 100%;height: auto;min-height: unset;}
	.right-part{width: 100%;height: auto;min-height: unset;}

	.info-block{display: none;}
	.bottom-buttons{display: none;}

	.logo-bix{height: auto;min-height: unset;padding: 10px 15px;}
	.logo-bix img{max-width: 150px;margin: 0;}

	.tabs{display: block;height: auto;overflow: initial;}
	.tabs_link{box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);padding: 14px 15px;display: block;}
	.tabs_link .tabs_heading{font-size: 23px;line-height: 26px;transform: unset;}
	.tab_contain{width: 100%;height: auto;padding: 0}
	.tabs_content{width: 100%;height: 0;padding: 0;}
	.tabs_content.active{height: auto;}

	.foreword-block{padding: 0 25px;}
	.foreword-block h2{font-size: 26px;line-height: 29px;margin: 0 0 50px;display: none;}
	.foreword-block p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}

	.about_contain .about-title{display: none;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights-title h2{display: none;}
	.highlights-info{padding: 0 15px 100px;}
	.highlights-info h3{font-size: 20px;line-height: 23px;margin: 0 0 10px;}
	.highlights-info p{font-size: 15px;line-height: 24px;}

	.highlights-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 15px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.highlights-block .accordion .accordion-body {background: #fff;}
	.highlights-block .accordion .accordion-body .body-info{padding: 38px 25px 68px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 68px;}

	.finances-block .highlights-info p{margin: 0 0 30px;}
	.finances-table{padding: 0 15px 50px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;margin: 0 0 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.mobile-buttons{display: block;}
	.togglebar{display: table;}

	.left-part{display: none;}
	header{display: block;}
	.highlights-block .accordion .accordion-body .body-info .btn-dark{font-size: 8px;padding: 4px 20px;}
	.highlights_tab_contain img{margin: 0 0 58px;}
	.highlights_tab_contain .highlights-info{padding: 0 36px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;padding: 8px 20px}

	.highlights_tab_contain .highlights-title{padding: 30px 15px 25px;margin: 0;}
	.highlights_tab_contain .highlights-title .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .col-md-6:last-child{width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 26px;line-height: 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 8px;width: auto;padding: 2px 12px;}

	.plans-block .accordion-collapse.collapse,
	.highlights-block .accordion-collapse.collapse {
	    display: block;
	    height: auto;
	}
}

@media(min-width:448px) and (max-width:575px){
	.main-wrpper{display: block;}
	.left-part{width: 100%;height: auto;min-height: unset;}
	.right-part{width: 100%;height: auto;min-height: unset;}

	.info-block{display: none;}
	.bottom-buttons{display: none;}

	.logo-bix{height: auto;min-height: unset;padding: 10px 15px;}
	.logo-bix img{max-width: 150px;margin: 0;}

	.tabs{display: block;height: auto;overflow: initial;}
	.tabs_link{box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);padding: 14px 15px;display: block;}
	.tabs_link .tabs_heading{font-size: 23px;line-height: 26px;transform: unset;}
	.tab_contain{width: 100%;height: auto;padding: 0}
	.tabs_content{width: 100%;height: 0;padding: 0;}
	.tabs_content.active{height: auto;}

	.foreword-block{padding: 0 25px;}
	.foreword-block h2{font-size: 26px;line-height: 29px;margin: 0 0 50px;display: none;}
	.foreword-block p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}

	.about_contain .about-title{display: none;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:20px;line-height: 21px;}

	.highlights-title h2{display: none;}
	.highlights-info{padding: 0 15px 100px;}
	.highlights-info h3{font-size: 20px;line-height: 23px;margin: 0 0 10px;}
	.highlights-info p{font-size: 15px;line-height: 24px;}

	.highlights-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 15px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.highlights-block .accordion .accordion-body {background: #fff;}
	.highlights-block .accordion .accordion-body .body-info{padding: 38px 25px 68px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 68px;}

	.finances-block .highlights-info p{margin: 0 0 30px;}
	.finances-table{padding: 0 15px 50px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 20px 25px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;margin: 0 0 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.mobile-buttons{display: block;}
	.togglebar{display: table;}

	.left-part{display: none;}
	header{display: block;}
	.highlights-block .accordion .accordion-body .body-info .btn-dark{font-size: 8px;padding: 4px 20px;}
	.highlights_tab_contain img{margin: 0 0 58px;}
	.highlights_tab_contain .highlights-info{padding: 0 36px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 12px;padding: 8px 20px}

	.highlights_tab_contain .highlights-title{padding: 30px 15px 25px;margin: 0;}
	.highlights_tab_contain .highlights-title .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .col-md-6:last-child{width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: block;font-size: 26px;line-height: 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 8px;width: auto;padding: 2px 12px;}

	.about_contain .about-info p:first-child{font-size: 18px;line-height: 26px;padding-right:0px}
	.about_contain .about-info p{font-size: 16px;line-height: 24px;padding-right:0px}
	.plans-block .accordion .accordion-item .accordion-button:before{display: none;}

	.plans-block .accordion-collapse.collapse,
	.highlights-block .accordion-collapse.collapse {
	    display: block;
	    height: auto;
	}
}

@media(max-width:447px){
	.main-wrpper{display: block;}
	.left-part{width: 100%;height: auto;min-height: unset;}
	.right-part{width: 100%;height: auto;min-height: unset;}

	.info-block{display: none;}
	.bottom-buttons{display: none;}

	.logo-bix{height: auto;min-height: unset;padding: 10px 15px;}
	.logo-bix img{max-width: 150px;margin: 0;}

	.tabs{display: block;height: auto;overflow: initial;}
	.tabs_link{box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);padding: 14px 15px;display: block;}
	.tabs_link .tabs_heading{font-size: 23px;line-height: 26px;transform: unset;}
	.tab_contain{width: 100%;height: auto;padding: 0}
	.tabs_content{width: 100%;height: 0;padding: 0;}
	.tabs_content.active{height: auto;}

	.foreword-block{padding: 0 25px;}
	.foreword-block h2{font-size: 26px;line-height: 29px;margin: 0 0 50px;display: none;}
	.about_contain .about-info h4,.foreword-block h4{font-size: 18px;line-height: 26px;}
	.foreword-block p{font-size: 16px;line-height: 24px;margin: 0 0 30px;}

	.about_contain .about-title{display: none;}
	.about_contain img{margin: 0 0 58px;}
	.about_contain .about-info{padding: 0 35px;}
	.about_contain .about-info p{font-size: 18px;line-height: 21px;margin: 0 0 30px;}
	.about_contain .about-info h4{font-size:18px;line-height: 26px;}

	.highlights-title h2{display: none;}
	.highlights-info{padding: 20px 15px 64px;}
	.highlights-info h3{font-size: 20px;line-height: 23px;margin: 0 0 10px;}
	.highlights-info p{font-size: 15px;line-height: 24px;}

	.highlights-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: normal;padding:50px 55px 50px 15px;}
	.highlights-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.highlights-block .accordion .accordion-body {background: #fff;}
	.highlights-block .accordion .accordion-body .body-info{padding: 38px 25px 68px;}
	.highlights-block .accordion .accordion-body .body-info p{font-size: 18px;line-height: 26px;margin: 0 0 55px;}

	.finances-block .highlights-info p{margin: 0 0 30px;}
	.finances-table{padding: 0 15px 50px;}
	.finances-table table thead tr th{font-size: 16px;line-height: 24px;padding: 20px 5px;}
	.finances-table table tbody tr td{padding: 20px 5px;font-size: 16px;line-height: 24px;}
	.chart-block{padding: 0 15px;}

	.plans-block .accordion .accordion-item .accordion-button{font-size: 18px;line-height: 21px;padding: 50px 35px 50px 15px;}
	.plans-block .accordion .accordion-item .accordion-button:before{right: 15px;}
	.plans-block .accordion .accordion-body .body-info{padding: 38px 25px 68px;}
	.plans-block .accordion .accordion-body .body-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}
	.plans-block .accordion .accordion-item .accordion-button span{font-size: 45px;margin-right: 15px;}

	.highlights_tab_contain .highlights-title{padding: 0 15px;margin: 0 0 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start}
	.highlights_tab_contain .highlights-title ul li a{width:150px;}
	.highlights_tab_contain .highlights-info{padding: 0 25px;}
	.highlights_tab_contain .highlights-info .btn-dark{margin: 0 0 35px;}
	.highlights_tab_contain .highlights-info p{font-size: 16px;line-height: 24px;margin: 0 0 20px;}

	.mobile-buttons{display: block;}
	.togglebar{display: table;}

	.left-part{display: none;}
	header{display: block;}
	.highlights-block .accordion .accordion-body .body-info .btn-dark{font-size: 8px;padding: 4px 20px;}
	.highlights_tab_contain img{margin: 0 0 58px;}
	.highlights_tab_contain .highlights-info{padding: 0 36px;}
	.highlights_tab_contain .highlights-info .btn-dark{font-size: 10px;padding: 8px 20px}

	.highlights_tab_contain .highlights-title{padding: 30px 15px 25px;margin: 0;}
	.highlights_tab_contain .highlights-title .col-md-6{width: 40%;}
	.highlights_tab_contain .highlights-title .col-md-6:last-child{width: 60%;}
	.highlights_tab_contain .highlights-title h2{display: none;font-size: 26px;line-height: 30px;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-end;}
	.highlights_tab_contain .highlights-title ul li{margin-right: 5px;}
	.highlights_tab_contain .highlights-title ul li a{font-size: 10px;width: auto;padding: 8px 12px;}

	.about_contain .about-info p:first-child{font-size: 18px;line-height: 26px;padding-right: 0px;}
	.about_contain .about-info p{font-size: 16px;line-height: 24px;padding-right: 0px;}
	.plans-block .accordion .accordion-item .accordion-button:before{display: none;}
	.plans-block .accordion .accordion-body .body-info .btn-dark{font-size: 8px;padding: 4px 20px;}

	.plans-block .accordion-collapse.collapse,
	.highlights-block .accordion-collapse.collapse {
	    display: block;
	    height: auto;
	}
}
@media(max-width:385px){
	.highlights_tab_contain .highlights-title .col-md-6{width: 100%;}
	.highlights_tab_contain .highlights-title .col-md-6:last-child{width: 100%;}
	.highlights_tab_contain .highlights-title ul{justify-content: flex-start;margin: 10px 0 0}

	.mobile-buttons ul{display: block;}
	.mobile-buttons ul li a{display: block;text-align: center;}
}