---
layout: default
---

<div class="right-part">
	<div class="tabs">
		<a href="#" class="tabs_link bg-white w-inline-block active">
			<p class="tabs_heading text-uppercase">{{ page.title }}</p>
		</a>
		<div class="tabs_content bg-white active">
			<div class="tab_wrap">
				<div class="tab_contain about_contain">
					<div class="about-title">
						<h2 class="text-uppercase">{{ page.title }}</h2>
					</div>

					<img src="{{ page.featured_image }}" alt="{{ page.title }}" />

					<div class="about-info">
						{{ page.content }}
					</div>
				</div>
			</div>
		</div>

		<a href="{{ site.url }}{{ site.baseurl }}" class="tabs_link green_bg w-inline-block active">
			<p class="tabs_heading">FOREWORD</p>
		</a>
		<a href="{{ site.url }}{{ site.baseurl }}" class="tabs_link yellow_bg w-inline-block">
			<p class="tabs_heading">HIGHLIGHTS</p>
		</a>
		<a href="{{ site.url }}{{ site.baseurl }}" class="tabs_link light_bg w-inline-block">
			<p class="tabs_heading">FINANCES</p>
		</a>
		<a href="{{ site.url }}{{ site.baseurl }}" class="tabs_link gray_bg w-inline-block">
			<p class="tabs_heading">PLANS</p>
		</a>
	</div>
</div>

{{ content }}