<!DOCTYPE html>
<html lang="{{ site.lang }}">

	<head>
		<!-- Meta tag -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Favicon & Title -->
		<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | site.baseurl_root }}">
		<title>{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{
			page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}</title>
		<meta name="description" content="{{ page.description | strip_html | xml_escape }}">

		<!-- CSS only -->
		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | site.baseurl_root }}" />
		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | site.baseurl_root }}" />
		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/responsive.css' | site.baseurl_root }}" />
	</head>

	<body>
		<div class="main-wrpper">

			{% include left-panel.html %}

			{{ content }}

		</div>

		{% include footer.html %}
	</body>

</html>